.about
  #about
  .about__bg
  .about__info.content
    .about__title About us
    .about__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aliquam hic possimus excepturi sit illum quia architecto nisi repellendus enim laudantium est similique incidunt, cupiditate maxime mollitia eveniet suscipit beatae?