.contacts
  #contacts
  .contacts__title Contacts
  .contacts__row
    .contacts__list
      .contacts__list__link Instagram: @instagram
      .contacts__list__link Telegram: @telegram
    img.contacts__img(src='img/tomatoes.jpg' alt='' loading="lazy")