header#header
  .header__nav
    .content
      .header__nav__row
        a(href="")
          .header__nav__logo Logo
        nav.header__nav__links
          a.header__nav__link(href="#menu") pizza
          a.header__nav__link(href="#about") about us
          a.header__nav__link(href="#contacts") contacts
          span.header__nav__number +380-99-99-9999
        .header__nav__burger-menu-icon
          .burger-line
          .burger-line
          .burger-line
          .burger-line
        nav.header__nav__menu-burer
          a.header__nav__link(href="#menu") pizza
          a.header__nav__link(href="#about") about us
          a.header__nav__link(href="#contacts") contacts
          span.header__nav__number +380-99-99-9999