.top-section
  h2.top-section__subtitle
    | from an Italian chef
    h1.top-section__title the best pizza
      br
      |  in the city!
  a.top-section__button(href="#menu") choose your pizza!