- let standart = {idintification: "'id:1'",img: 'img/pizzas/1.png',title: 'Classic pizza', description: 'Salami, potatoes and carrots, cucumbers pickled, mozzarella, chicken, ham and French sauce', price: 20,};
- const mushrooms = {idintification: "'id:2'",img: 'img/pizzas/2.png',title: 'Mushrooms pizza', description: 'Mushrooms, Salami, potatoes and carrots, cucumbers pickled, mozzarella, chicken, ham and French sauce', price: '22',};
- const meat = {idintification: "'id:3'",img: 'img/pizzas/3.png',title: 'Bacon pizza', description: 'Bacon, chicken, potatoes and carrots, cucumbers pickled, mozzarella, ham and French sauce', price: '25',};
- const cheese = {idintification: "'id:4'",img: 'img/pizzas/4.png',title: 'Four cheese pizza', description: 'Four tipes of cheese, chicken, potatoes and carrots, cucumbers pickled, mozzarella, ham and French sauce', price: '25',};
